<a href="https://colab.research.google.com/github/ashmith77/python-programming-cse-c/blob/main/Python%20program.Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
squares=[x**2 for x in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
squares=[x**3 for x in range(1,6)]
print(squares)

[1, 8, 27, 64, 125]

In [ ]:
i=1
while i<8:
  print(i)
  i+=1

1
2
3
4
5
6
7

In [ ]:
for number in [1,2,3,4,5,6,10,11,12]:
    if number==6:
     continue
    print(number)

print("bye")

1
2
3
4
5
10
11
12
bye

In [ ]:
for number in [1,2,3,4,5,6,10,11,12]:
    if number==6:
     break
    print(number)

print("bye")

1
2
3
4
5
bye

In [ ]:
i=1
while i<11:
  if i==6:
    break
    print(i)
    i=i+1

    print('Bye')

KeyboardInterrupt:

In [ ]:
i=1


if i==2:
  break

  print('Bye')

SyntaxError: 'break' outside loop (<ipython-input-17-900fded57ce5>, line 5)

In [ ]:
num=int(input())

for i in range(1,11):
  print(num,'x',i,'=',num*i)

12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [15]:
num=int(input())

for i in range(1,11,2):
  print(num,'x',i,'=',num*i)

12
12 x 1 = 12
12 x 3 = 36
12 x 5 = 60
12 x 7 = 84
12 x 9 = 108

In [16]:
num=320
print("The  factors  of ", num  , "are:" , end=" " )
for i in range (1,num+1):
  if num %i ==0:

    print(i,end=' ')

The  factors  of  320 are: 1 2 4 5 8 10 16 20 32 40 64 80 160 320

In [ ]:
num=320
factors=[i for i in range(1,num+1) if num % i ==0]
print("The factors of" ,num, "are:" ,factors)

The factors of 320 are: [1, 2, 4, 5, 8, 10, 16, 20, 32, 40, 64, 80, 160, 320]

Pyramid programming

In [ ]:
rows=9
for i in range(1, rows +1):
  for j in range(i):
    print("abcd", end =" ")
  print()

abcd
abcd abcd
abcd abcd abcd
abcd abcd abcd abcd
abcd abcd abcd abcd abcd
abcd abcd abcd abcd abcd abcd
abcd abcd abcd abcd abcd abcd abcd
abcd abcd abcd abcd abcd abcd abcd abcd
abcd abcd abcd abcd abcd abcd abcd abcd abcd

In [ ]:
rows=int(input("enter the number of rows:"))
for num in range(1, rows +1):
  for j in range(num):
    print(",,", end =" ")
  print()

enter the number of rows:9
,,
,, ,,
,, ,, ,,
,, ,, ,, ,,
,, ,, ,, ,, ,,
,, ,, ,, ,, ,, ,,
,, ,, ,, ,, ,, ,, ,,
,, ,, ,, ,, ,, ,, ,, ,,
,, ,, ,, ,, ,, ,, ,, ,, ,,

FUNCTIONS

In [29]:
def name():
  print("What's your name?")

  name()

In [35]:
def add_numbers(a,b):
  sum=a+b

  return sum

  result=add_numbers(2,3)
  print(result)

In [55]:
def product_info(product_name,price):
  print("product name:" + product_name)

  print("Price:" +str(price))
  product_info("white T-shirt ", 15)

In [60]:


def product_info(product_name,price):
  print("product name:" + product_name)

  print("Price:" +str(price))A
  product_info("white T-shirt ", 15)

In [57]:
add=lambda a,b:a+b
result=add(3,5)
result

8

In [59]:
a=[1,2,3,4,5]
b=[x**2 for x in a]
b

[1, 4, 9, 16, 25]

In [61]:
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    if y == 0:
        return "Cannot divide by zero"
    return x / y

while True:
    print("Select operation:")
    print("1. Add")
    print("2. Subtract")
    print("3. Multiply")
    print("4. Divide")
    print("5. Exit")

    choice = input("Enter choice (1/2/3/4/5): ")

    if choice == '5':
        break

    num1 = float(input("Enter first number: "))
    num2 = float(input("Enter second number: "))

    if choice == '1':
        print(num1, "+", num2, "=", add(num1, num2))
    elif choice == '2':
        print(num1, "-", num2, "=", subtract(num1, num2))
    elif choice == '3':
        print(num1, "*", num2, "=", multiply(num1, num2))
    elif choice == '4':
        print(num1, "/", num2, "=", divide(num1, num2))
    else:
        print("Invalid input")

Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide
5. Exit
Enter choice (1/2/3/4/5): 3
Enter first number: 1
Enter second number: 2
1.0 * 2.0 = 2.0
Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide
5. Exit
Enter choice (1/2/3/4/5): 4
Enter first number: 1
Enter second number: 2
1.0 / 2.0 = 0.5
Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide
5. Exit
Enter choice (1/2/3/4/5): 3
Enter first number: 5
Enter second number: 4
5.0 * 4.0 = 20.0
Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide
5. Exit
Enter choice (1/2/3/4/5): 5